label {
    position: relative;
    z-index: 10;
    margin: 0 auto 0;
}
.waiting-block {
    .countdown-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        #countdown {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-weight: 300;
            text-transform: uppercase;
            color: $bc-primary;
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 15px 0;
                border-right: 2px solid $border-light;
                &:last-child {
                    border-right: none;
                    padding: 0 0 0 15px;
                }
                &:first-child {
                    padding: 0 15px 0 0;
                }
            }
            span {
                font-size: 11px;
                line-height: 14px;
                padding: 0;
                margin: 0;
                &.chiffre {
                    font-size: 30px;
                    line-height: 36px;
                    font-weight: bold;
                }
            }
        }
        h2 {
            position: relative;
            z-index: 2;
            font-size: 16px;
            line-height: 26px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0 auto 30px;
            text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
        }
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}


@media screen and (min-width: 576px) {

}
@media screen and (min-width: 768px) {
    
}
@media screen and (min-width: 992px) {
    
}
@media screen and (min-width: 1200px) {
    
}